{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="header-logo">
      <div class="logo-info logo-info--left">
          <div class="logo-info__title">{{ drupal_field('title', 'node', 27) }}</div>
          <div class="logo-info__phone">{{ drupal_field('field_phone', 'node', 27) }}</div>
          <div class="logo-info__mail">{{ drupal_field('field_email', 'node', 27) }}</div>
      </div>
      <!-- /.logo-info -->
      {% if site_logo %}
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      {% endif %}
      <div class="logo-info logo-info--right">
        <div class="logo-info__title">{{ drupal_field('title', 'node', 26) }}</div>
        <div class="logo-info__phone">{{ drupal_field('field_phone', 'node', 26) }}</div>
        <div class="logo-info__mail">{{ drupal_field('field_email', 'node', 26) }}</div>
          <!-- /.logo-info__mail -->
      </div>
      <!-- /.logo-info -->
  </div>
{% endblock %}
